bok{	
	display:block;		
}

titel{
	font-size: 16pt;
	color:blue;
	font-weight: bold;
	display:block;		
}

forfattare{
	display:block;
	font-weight:bold;	
	margin-left: 1em;
}

sidor{
	display:block;
}